<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314891288880-epioj1dlfkm89c67rolac3susljgtdjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314891288880-epioj1dlfkm89c67rolac3susljgtdjl</string>
	<key>API_KEY</key>
	<string>AIzaSyC2cIKwbSs3thxo2bVqZ8xSRCb_2aqT-Fw</string>
	<key>GCM_SENDER_ID</key>
	<string>314891288880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TechGeeks.Muddy-Paws</string>
	<key>PROJECT_ID</key>
	<string>muddy-paws---final-project</string>
	<key>STORAGE_BUCKET</key>
	<string>muddy-paws---final-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314891288880:ios:67324c4cc0c8824df708f5</string>
</dict>
</plist>